# Server Configuration
PORT=5001
NODE_ENV=development

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173

# Database Connection
MONGO_URI=mongodb://127.0.0.1:27017/civicconnect

# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d